#main{
    @include margin (0px, 0px, 5%, 0px);
    
    .entrada{
        @include margin (10%, 0px, 0px, 0px);
        background-color: $myBgColorLight2;
         display: grid;
         width: 80% ;
         grid-template-areas: "img letra";
         grid-template-columns: 50% 50%;
         align-items: center;

         figure{
            grid-area: img;
            img{
                width: 80%;
                @include margin (10%, 0px, 5%, 0px);
            }
        }

        div{
            grid-area: letra;
            text-align: center;
            
        }
     }
     
    .btnVer{
        @include margin (0px, 0px, 5%, 0px);
        display: flex;
        justify-content: center
    }
    
 
 }
