@media all and (max-width:660px){
    
    header .entrada{
        display: grid;
        grid-template-areas: "img img"
                            "letra letra";
        grid-template-columns: 100%;
        grid-template-rows: 56% 44%;
        width: 90% ;
        @include paddings (1%, 1%, 0%, 2%);
        
        figure{
            grid-area: img;
            @include paddings (1%, 1%, 0%, 2%);
            padding-top: 2%;
            width: 100%;
            
           
        }
        div{
            grid-area: letra;
            display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
            width: 100%;
        }
    }
}

@media all and (max-width:660px){
    
    footer section{
        display: grid;
        grid-template-areas: "secc1 secc1"
                            "secc2 secc2";
        grid-template-columns: 40%;
        grid-template-rows: 50% 50%;
        width: 90% ;
        gap:10px;
        @include paddings (1%, 1%, 0%, 2%);
        
        div:nth-child(1){
            grid-area: secc1;
            
           
        }
        div:nth-child(2){
            grid-area: secc2;
        }
    }
}